<div class="container">
  <h1>Dummy Users</h1>

  <a href ="/user/new">Create a New User</a>
  <a href="/login">Login Existing User</a>
  <a href="/logout">Logout Current User</a>
  <a href="/url/new">Create New Url</a>
  <a href="/users">See all Users</a>
</div>
