<div class="container">
  <h1>Login</h1>

<form action="/login" method="post" >
<input type="text" name="email" placeholder="mail@email.com">
<input type="text" name="password" placeholder="e.g. 12345">
<input type="submit" value="submit">
</form>

</div>