<div class="container">
    <h1>URL Lengthener</h1>

  <form action="/url/new" method="post">
    Enter a URL to lenthen:
    <br>
    <input type="text" name="url" value = "Enter a url">
    <input type="submit" value="Submit">
  </form>
</div>
