<div class="container">
    <h1>URL Lengthener</h1>

    <p> Your long URL is: <br/> <a href=<%= "/#{@lenthened_url}" %>><%= "localhost:9393/#{@lenthened_url}" %></a></p>
    <p>
    <% unless @user_id.nil? %>
      <%= "Your User ID is:  #{@user_id}" %>
      <% else  %>
      <%= "You are not logged in!"  %>
       <% end %>
    </p>
    <br>
    <a href="/">Return to home page</a>
</div>
